html,body {
	height: 100%;
}
body {
	background-color: rgb(239,243,239);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media screen and (min-width:960px) {
	.nav_ul1>li {
		float: left;
		width: 100px;
		height: 60px;
		line-height: 60px;
		font-size: 14px;
	}
	
	.nav_li1>a {
		font-family: "微软雅黑";
		font-weight: 600;
		font-size: 13px;
		color:dimgrey;
	}
	.nav_li1 {
		cursor: pointer;
		text-align: center; 
	}
	.nav_li1:hover a {
		color: rgb(52,152,219);
	}
	
}

@media screen and (max-width:960px) {
	.icon {
		width: 22px;
		height: 15px;
		background-image: url(../img/menu.png);
		background-size: cover;
		background-repeat: no-repeat;
		float:right;
		margin-right: 15%;
		margin-top: 20px;
	}
	.nav_ul1 {
		display: none;
		position: absolute;
		right: 5%;
		top: 12%;
		width: 90%;
		background-color: rgba(255,255,255,0.4);
		border-radius: 2px;
	}
	.nav_li1{
		font-weight:600;
		height: 30px;
		color: gray;
		line-height: 30px;
		font-size: 14px;
		cursor: pointer;
	}
	.nav_li1_s {
		
	}
	.nav_li1>a {
		margin:0 20px ;
	}
	.nav_li1:hover {
		background-color: rgba(80,80,80,0.1);
	}
	.nav_li1>a {
		font-weight: 600;
		color: dimgray;
	}
}


.header {
	height: 60px;
	width: 100%;
	background-color: white;
}
.header_position {
	width: 75%;
	height: 100%;
	margin: auto;
}
.header_position>h2 {
	height: 100%;
	line-height: 60px;
	font-family: "华文新魏";
	color: rgb(52,152,219);
	float: left;
}
.header_nav {
	float: right;
}